main {
        background-color: white;
        popup-background-color: white;
        child-background-color: white;
        frame-background-color: white;
        title-background-color: white;
        title-background-active-color: white;
        menu-bar-background-color: white;
        button-color: white;
        header-color: white;
        tab-color: white;
        table-header-background-color: white;
        modal-window-dim-background-color: white;

        color: red;
        border-color: red;
        checkmark-color: red;
        table-border-strong-color: red;
        table-border-light-color: red;

        frame-background-hovered-color: rgb(255,175,175);
        button-hovered-color: rgb(255,175,175);
        header-hovered-color: rgb(255,175,175);
        tab-hovered-color: rgb(255,175,175);

        frame-background-active-color: rgb(230,175,175);
        button-active-color: rgb(230,175,175);
        header-active-color: rgb(230,175,175);
        tab-active-color: rgb(230,175,175);

        window-rounding:5;
        child-rounding: 20;
        popup-rounding: 20;
        frame-rounding: 100;
        scrollbar-rounding: 5;
        grab-rounding: 20;
        tab-rounding: 20;
}
